@import "mixins";

.download { background-image: url(/images/icons/download.png); } //background-image: url(/images/icons/download.svg); }
.picture { background-image: url(/images/icons/picture.png); } //background-image: url(/images/icons/picture.svg); }
.restart { background-image: url(/images/icons/restart.png); } //background-image: url(/images/icons/restart.svg); }
.share { background-image: url(/images/icons/share.png); } //background-image: url(/images/icons/share.svg); }

.with-icon {
  padding: 5px 0 5px 24px;
  background-repeat: no-repeat;
  background-position: left center;
  @include bg-size(20px, auto);
}

.with-flag {
  padding: 10px 0 10px 40px;
  background-repeat: no-repeat;
  background-position: left center;
  @include bg-size(32px, auto);
}