<div class="whitebox half pad-20 centered">
  <h3>Your Empire</h3>
  <form id="new-user">
    <div class="field">
      <label for="name">Your Name</label>
      <input type="text" name="name" id="name" />
    </div>

    <div class="field">
      <label for="empire">Empire</label>
      <select name="empire" id="empire">
        <option>Loading...</option>
      </select>
    </div>

    <div class="field">
      <label for="regions">Regions Controlled</label>
      <input type="number" id="regions" name="regions" />
    </div>

    <div class="field">
      <label for="turn">Current Turn</label>
      <input type="number" id="turn" name="turn" />
    </div>

    <input type="submit" value="Next" />
  </form>
</div>