@import "http://meyerweb.com/eric/tools/css/reset/reset.css";
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
html, body {
  height: 100%; }

body {
  font-size: 62.5%;
  font-family: Arial, Tahoma, san-serif;
  color: #333;
  background: #333333 url(/images/rtw2-body-bg.jpg) no-repeat left top;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto; }

section {
  width: 100%;
  max-width: 120em;
  margin: 0 auto; }

h1, .h1 {
  font-size: 3.6em; }

h2, .h2 {
  font-size: 3.0em; }

h3, .h3 {
  font-size: 2.4em; }

h4, .h4 {
  font-size: 2.0em; }

p, li, a {
  font-size: 1.6em; }
  p p, p li, p a, li p, li li, li a, a p, a li, a a {
    font-size: 1em; }

a {
  color: #8D0000;
  text-decoration: none; }
  a:hover {
    color: #666;
    text-decoration: underline; }

ul.details li {
  padding: 0.75em 0;
  margin: 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #666; }
  ul.details li:first-child {
    border-top: none; }
  ul.details li:last-child {
    border-bottom: none; }

#map_container {
  position: relative; }
  #map_container aside.user-sidebar {
    position: absolute;
    top: 0;
    right: 3em;
    z-index: 200; }
    #map_container aside.user-sidebar .sidebar-group {
      width: 28em;
      padding: 2em;
      margin: 0 0 2em; }
      #map_container aside.user-sidebar .sidebar-group .regions-list {
        margin-top: 0.5em; }
        #map_container aside.user-sidebar .sidebar-group .regions-list ul li {
          margin: 0.25em 0; }
        #map_container aside.user-sidebar .sidebar-group .regions-list ul {
          max-height: 14em;
          overflow-y: auto; }

.selected {
  margin: 0 0 1.5em; }
  .selected img, .selected h3 {
    float: left; }
  .selected img {
    width: 20%; }
  .selected h3 {
    width: 70%;
    padding: 0.65em 0.5em; }

.form-header {
  margin: 0 0 0.25em;
  padding: 0 0 0.25em;
  text-align: center;
  border-bottom: 1px solid #333; }
