.download {
  background-image: url(/images/icons/download.png); }

.picture {
  background-image: url(/images/icons/picture.png); }

.restart {
  background-image: url(/images/icons/restart.png); }

.share {
  background-image: url(/images/icons/share.png); }

.with-icon {
  padding: 5px 0 5px 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px auto;
  -webkit-background-size: 20px auto;
  -moz-background-size: 20px auto;
  -o-background-size: 20px auto;
  -ms-background-size: 20px auto; }

.with-flag {
  padding: 10px 0 10px 40px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 32px auto;
  -webkit-background-size: 32px auto;
  -moz-background-size: 32px auto;
  -o-background-size: 32px auto;
  -ms-background-size: 32px auto; }
