@media screen and (max-width: 1200px) {
  #map_container aside.user-sidebar {
    right: 10px; }
    #map_container aside.user-sidebar .sidebar-group {
      width: 23em;
      padding: 1em; }

  .selected h3 {
    padding: 0.65em 0.25em; } }
@media screen and (max-width: 1100px) {
  header.pad-vertical-20 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1.5em; }
    header.pad-vertical-20 h1.logo {
      height: 80px;
      background-size: auto 100%;
      -webkit-background-size: auto 100%;
      -moz-background-size: auto 100%;
      -o-background-size: auto 100%;
      -ms-background-size: auto 100%; }
    header.pad-vertical-20 h2.share-header {
      margin: 0.25em 0; }

  #map_container aside.user-sidebar {
    position: relative;
    width: 98em;
    margin: 0 auto;
    right: auto; }
    #map_container aside.user-sidebar.full-sized {
      width: 82.8em; }
      #map_container aside.user-sidebar.full-sized .sidebar-group {
        width: 97%; }
    #map_container aside.user-sidebar .sidebar-group {
      float: left;
      width: auto;
      height: 15em;
      margin-left: 2em; }
      #map_container aside.user-sidebar .sidebar-group:first-child {
        margin-left: 0; }
      #map_container aside.user-sidebar .sidebar-group .sidebar-head,
      #map_container aside.user-sidebar .sidebar-group .regions-list,
      #map_container aside.user-sidebar .sidebar-group ul.details {
        float: left;
        width: 20em;
        margin-right: 1.5em; }
      #map_container aside.user-sidebar .sidebar-group ul.details li {
        padding: 0.35em 0; }
      #map_container aside.user-sidebar .sidebar-group .regions-list ul {
        max-height: 10em; }

  #map > div {
    margin: 0 auto; } }
